{% include 'shared/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid intro">

</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="p-4 text-center">
                <h2 class="mb-3 display-2 fw-bolder">OUR BLOG</h2>
                <h5 class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, ad.</h5>
            </div>
        </div>
    </div>

    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-6 mb-4">
            <div class="bg-light p-4">
                {% for image in blog.images.all %}
                <img src="{{ image.image.url }}" alt="Blog Image" class="img-fluid mb-3 blog-image">
                {% endfor %}
                <h2 class="mb-2 fw-bold post-title">{{ blog.title }}</h2>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="text-muted">Date Posted: {{ blog.date_posted|date:"F d, Y" }}</p>
                    <p class="text-primary">Posted by: {{ blog.author }}</p>
                </div>
                <p>{{ blog.summary }}</p>
                <a href="{% url 'home:blog-details' blog.id %}" class="btn btn-primary">Read More</a>
            </div>
        </div>
    {% endfor %}
        
    </div>
</div>



{% include 'shared/footer.html' %}

{% endblock %}

<style>
    .intro{
        background-image: url("{% static 'img/Frame.png' %}");
        height: 40vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .post-title{
        color: orangered;
    }
    <style>
        .blog-image {
            max-height: 200px;
        }
    </style>
</style>




