
{% extends "shared/base.html" %}
{% load static %}

{% block carousel %}
<!-- This block is empty, so the carousel from base.html won't be included -->
{% endblock %}
{% block content %}
     
        
        
        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>From Blog</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Blog</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
        
        <!-- Blog Start -->
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <p>Our Blog</p>
                <h2>Latest news & articles directly from our blog</h2>
            </div>
            <div class="row">
            {% for blog in blogs %}
            <div class="col-lg-4">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="{{ blog.images.url }}" alt="{{ blog.title }}">
                    </div>
                    <div class="blog-text">
                        <h3><a href="{% url 'home:blog-details' blog_id=blog.id %}">{{ blog.title }}</a></h3>
                        <p>
                            {{ blog.content|slice:":100" }}{% if blog.content|length > 100 %}...{% endif %}
                        </p>
                    </div>
                    <div class="blog-meta">
                        <p><i class="fa fa-user"></i><a href="">{{ blog.author }}</a></p>
                        <p><i class="fa fa-comments"></i><a href="{% url 'home:blog-details' blog_id=blog.id %}">{{comment_count }} Comments</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}

            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="pagination justify-content-center">
                        {% if blogs.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link"
                                href="?page={{ blogs.previous_page_number }}">Previous</a></li>
                        {% endif %}
                        {% for i in blogs.paginator.page_range %}
                        <li class="page-item{% if blogs.number == i %} active{% endif %}">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endfor %}
                        {% if blogs.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ blogs.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ blogs.paginator.num_pages }}">Last</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

        <!-- Blog End -->


        <!-- Footer Start -->
       {% include "shared/footer.html" %}
        <!-- Footer End -->

        <!-- Back to top button -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        <!-- JavaScript Libraries -->
       

{% endblock %}






