{% extends "shared/base.html" %} {% load static %} {% block carousel %}
<!-- This block is empty, so the carousel from base.html won't be included -->
{% endblock %} {% block content %}

<!-- Page Header Start -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Donate Now</h2>
      </div>
      <div class="col-12">
        <a href="">Home</a>
        <a href="">Donate</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Donate Start -->
<div class="container">
  <div
    class="donate"
    data-parallax="scroll"
    data-image-src="{% static 'img/donate.jpg' %}"
  >
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="donate-content">
          <div class="section-header">
            <p>Donate Now</p>
            
          </div>
          <div class="donate-text">
            <p>
              Empower Girls' Education: Your contribution shapes bright
              futures. Join us in enabling girls' education. Together, we pave
              the way for a better world, one girl at a time. Support our cause
              with your donation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="donate-form">
         <form method="post">
                            {% csrf_token %}
                            <div class="control-group">
                                <input type="text" class="form-control" name="full_name" placeholder="Full Name"
                                    required="required" />
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" name="email" placeholder="Email"
                                    required="required" />
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-custom active">
                                    <input type="radio" name="amount" value="20" checked> $20
                                </label>
                                <label class="btn btn-custom">
                                    <input type="radio" name="amount" value="50"> $50
                                </label>
                                <label class="btn btn-custom">
                                    <input type="radio" name="amount" value="100"> $100
                                </label>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" name="customAmount"
                                    placeholder="custom Amount" />
                            </div>
                            <div>
                                <button class="btn btn-custom" name="donation_submit" type="submit">Donate Now</button>
                            </div>
                        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Donate End -->

<!-- Footer Start -->
{% include "shared/footer.html" %}
<!-- Footer End -->

<!-- Back to top button -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Pre Loader -->
<div id="loader" class="show">
  <div class="loader"></div>
</div>

{% endblock %}
