{% extends "shared/base.html" %}
{% load static %}


{% block content %}


<!-- Video Modal Start-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
                        allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll"
                    data-image-src="{% static 'img/WhatsApp Image 2023-09-23 at 6.52.24 AM (4).jpeg' %}"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-header text-center">
                    <p>Learn About Us</p>
                    <h2>Empowering Girls</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            We are a grass-root non-profit organization striving to ensure that every child regardless
                            of their geographical
                            location has the opportunity to acquire literacy skills, access to books, digital skills,the
                            right to social justice and
                            youth empowerment in order to assist them in their quest to maximize their potential for
                            success. The LGF has a
                            fundamental duty to educate, inspire and provide skill training to young people. This is
                            especially directed at girls in
                            underprivileged communities where this has been dwarfed by poverty and outmoded cultural
                            practices.
                            We as a foundation are committed to the welfare of the youth and children. We believe
                            occurrences such as teenage
                            pregnancy and drug abuse are caused by young people who never had the fortune of a proper
                            education. LGF embraces this
                            responsibility to provide opportunities to all without discrimination on the grounds of
                            their age, culture, nationality,
                            creed, ethnicity, disability, gender, language, racial origin, or religious belief </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            Our mission i: ensuring that every individual in deprived communities has the opportunity to
                            access quality education
                            and training to reach full potential and reduce social vices. </div>
                        <div id="tab-content-3" class="container tab-pane fade">
                            LGF’s vision is to spearhead the growth of literacy, access to books, gender equality and
                            social justice in communities
                            in Ghana through dynamic, innovative and practical development programs.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>What We Do?</p>
                <h2>Empowering Girls Through the Gift of Education</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-diet"></i>
                        </div>
                        <div class="service-text">
                            <h3>Literacy for All:</h3>
                            <p>Empowering children with literacy skills, one book at a time.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-water"></i>
                        </div>
                        <div class="service-text">
                            <h3>Girls' Education Matters:</h3>
                            <p>Breaking barriers to education, nurturing future leaders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-healthcare"></i>
                        </div>
                        <div class="service-text">
                            <h3>Community Development Focus</h3>
                            <p>Strengthening communities through education and empowerment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-education"></i>
                        </div>
                        <div class="service-text">
                            <h3>Impactful Partnerships</h3>
                            <p>Collaborating for change, together we make a difference</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-home"></i>
                        </div>
                        <div class="service-text">
                            <h3>Empowering Through Mentorship</h3>
                            <p>Guiding young minds towards a brighter future</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="flaticon-social-care"></i>
                        </div>
                        <div class="service-text">
                            <h3>Promoting Social Justice</h3>
                            <p>Advocating for equality and fairness in every sphere</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Facts Start -->
    <div class="facts" data-parallax="scroll"
        data-image-src="{% static 'img/WhatsApp Image 2023-09-23 at 6.52.24 AM (1).jpeg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-home"></i>
                        <div class="facts-text">
                            <h3 class="facts-plus" data-toggle="counter-up">150</h3>
                            <p>Countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-charity"></i>
                        <div class="facts-text">
                            <h3 class="facts-plus" data-toggle="counter-up">400</h3>
                            <p>Volunteers</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-kindness"></i>
                        <div class="facts-text">
                            <h3 class="facts-dollar" data-toggle="counter-up">10000</h3>
                            <p>Our Goal</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="flaticon-donation"></i>
                        <div class="facts-text">
                            <h3 class="facts-dollar" data-toggle="counter-up">5000</h3>
                            <p>Raised</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->


    <!-- Causes Start -->
    <div class="causes">
        <div class="container">
            <div class="section-header text-center">
                <p>Popular Causes</p>
                <h2>Empowering through education and justice.</h2>
            </div>
            <div class="owl-carousel causes-carousel">
                {% for cause in causes %}
                <div class="causes-item">
                    <div class="causes-img">
                        <img style="height: 250px;" src="{{ cause.image.url }}" alt="{{ cause.title }}">
                    </div>
                    <div class="causes-progress">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ cause.progress_percentage }}"
                                aria-valuemin="0" aria-valuemax="100">
                                <span>{{ cause.progress_percentage }}%</span>
                            </div>
                        </div>
                        <div class="progress-text">
                            <p><strong>Raised:</strong> ${{ cause.raised_amount }}</p>
                            <p><strong>Goal:</strong> ${{ cause.goal_amount }}</p>
                        </div>
                    </div>
                    <div class="causes-text">
                        <h3>{{ cause.title }}</h3>
                        <p>{{ cause.description }}</p>
                    </div>
                    <div class="causes-btn">
                        <a class="btn btn-custom">Learn More</a>
                        <a href="{% url 'home:donate' %}" class="btn btn-custom">Donate Now</a>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <!-- Causes End -->


    <!-- Donate Start -->
    <div class="donate" data-parallax="scroll" data-image-src="{% static 'img/LGF-167.JPG' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="donate-content">
                        <div class="section-header">
                            <p>Donate Now</p>
                            <h2>Empower lives through your donations.</h2>
                        </div>
                        <div class="donate-text">
                            <p>
                                Your generous donation holds the power to create lasting change in the lives of
                                underprivileged children and
                                marginalized communities. With your support, we can continue our mission of providing
                                access to education, promoting
                                social justice, and empowering girls to reach their full potential
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Your existing content -->
                <div class="col-lg-5">
                    <div class="donate-form">
                        <form method="post">
                            {% csrf_token %}
                            <div class="control-group">
                                <input type="text" class="form-control" name="full_name" placeholder="Full Name"
                                    required="required" />
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" name="email" placeholder="Email"
                                    required="required" />
                            </div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-custom active">
                                    <input type="radio" name="amount" value="20" checked> $20
                                </label>
                                <label class="btn btn-custom">
                                    <input type="radio" name="amount" value="50"> $50
                                </label>
                                <label class="btn btn-custom">
                                    <input type="radio" name="amount" value="100"> $100
                                </label>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" name="customAmount"
                                    placeholder="custom Amount" />
                            </div>
                            <div>
                                <button class="btn btn-custom" name="donation_submit" type="submit">Donate Now</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Donate End -->


    <!-- Event Start -->
    <div class="event">
        <div class="container">
            <div class="section-header text-center">
                <p>Upcoming Events</p>
                <h2>Be ready for our upcoming charity events</h2>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="{% static 'img/WhatsApp Image 2023-09-23 at 6.52.24 AM (4).jpeg' %}" alt="Image">
                        <div class="event-content">

                            <div class="event-text">
                                <h3>Book Talk and Reading clubs</h3>

                                <a class="btn btn-custom" href="{% url 'home:book_talk' %}">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="{% static 'img/WhatsApp Image 2023-09-23 at 6.52.24 AM (3).jpeg' %}" alt="Image">
                        <div class="event-content">

                            <div class="event-text">
                                <h3>Mentorship Program and Girls' Empowerment Annual Summit</h3>

                                <a class="btn btn-custom" href="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="{% static 'img/WhatsApp Image 2023-09-23 at 6.55.25 AM (4).jpeg' %}" alt="Image">
                        <div class="event-content">

                            <div class="event-text">
                                <h3>LGF community libraries</h3>

                                <a class="btn btn-custom" href="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="event-item">
                        <img src="{% static 'img/WhatsApp Image 2023-09-23 at 6.52.24 AM (3).jpeg' %}" alt="Image">
                        <div class="event-content">

                            <div class="event-text">
                                <h3>Digital Inclusion Education program</h3>

                                <a class="btn btn-custom" href="">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Event End -->


    <!-- Team Start -->
    <div class="team">
        <div class="container">
            <div class="section-header text-center">
                <p>Meet Our Team</p>
                <h2>Awesome guys behind our charity activities</h2>
            </div>
            <div class="row">
                {% for member in team_members %}
            <div class="container overflow-hidden">
                <div class="row gy-4 gy-lg-0 gx-xxl-5">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card border-0 border-bottom border-primary shadow-sm overflow-hidden">
                            <div class="card-body p-0">
                                <figure class="m-0 p-0">
                                    <img class="img-fluid" loading="lazy" src="{{member.img.url}}" alt="Flora Nyra">
                                    <figcaption class="m-0 p-4">
                                        <h4 class="mb-1">Flora Nyra</h4>
                                        <p class="text-secondary mb-0">Product Manager</p>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- Team End -->


    <!-- Volunteer Start -->
    <div class="volunteer" data-parallax="scroll" data-image-src="{% static 'img/LGF-155.JPG' %}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="volunteer-form">
                        <form>
                            <div class="control-group">
                                <input type="text" class="form-control" placeholder="Name" required="required" />
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" placeholder="Email" required="required" />
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" placeholder="Why you want to become a volunteer?"
                                    required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-custom" type="submit">Become a volunteer</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="volunteer-content">
                        <div class="section-header">
                            <p>Become A Volunteer</p>
                            <h2>Let’s make a difference in the lives of others</h2>
                        </div>
                        <div class="volunteer-text">
                            <p>
                                Join our passionate volunteer network and be a part of the transformative journey.
                                Together, we can inspire, educate,
                                and empower young minds, making a meaningful impact in underprivileged communities. Your
                                time and dedication can shape a
                                brighter future for the next generation.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Volunteer End -->


 


    <!-- Contact Start -->
    <div class="contact">
        <div class="container">
            <div class="section-header text-center">
                <p>Get In Touch</p>
                <h2>Contact for any query</h2>
            </div>
            <div class="contact-img">
                <img src="{% static 'img/LGF-125.jpg' %}" alt="Image">
            </div>
            <div class="contact-form">
                <div id="success">
                    {% if success_message %}
                    <div class="alert alert-success">
                        {{ success_message }}
                    </div>
                    {% endif %}
                </div>
                <form name="sentMessage" id="contactForm" method="post" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="control-group">
                        <input type="text" class="form-control" name="full_name" id="name" placeholder="Your Name"
                            required="required" data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                            required="required" data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" name="phone" id="subject" placeholder="Phone Number"
                            required="required" data-validation-required-message="Please enter your phone number" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" name="message" id="message" placeholder="Message"
                            required="required" data-validation-required-message="Please enter your message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-custom" name="contact_submit" type="submit" id="sendMessageButton">Send
                            Message</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- Contact End -->


    <!-- Blog Start -->
    <div class="blog">
        <div class="container">
            <div class="section-header text-center">
                <p>Our Blog</p>
                <h2>Latest news & articles directly from our blog</h2>
            </div>
            <div class="row">
                {% for blog in random_blogs %}
                <div class="col-lg-4">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{{ blog.images.url }}" alt="{{ blog.title }}">
                        </div>
                        <div class="blog-text">
                            <h3><a href="{% url 'home:blog-details' blog_id=blog.id %}">{{ blog.title }}</a></h3>
                            <p>
                                {{ blog.summary }}
                            </p>
                        </div>
                        <div class="blog-meta">
                            <p><i class="fa fa-user"></i><a href="#">{{ blog.author }}</a></p>
                            <!-- You can display the number of comments here if you have that information -->
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- Blog End -->


    {% include "shared/footer.html" %}

    <!-- Back to top button -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>



    {% endblock %}