{% include 'shared/base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}

<!-- CAROUSEL HERE -->

{% include 'component/carousel.html' %}

<!-- VISSION-MISSION SECTION -->

{% include 'component/history.html' %}

{% include 'component/vision-mission-statement.html' %}


<!-- DONATE SECTION -->

{% include 'component/overview.html' %}

{% include 'component/our_mission.html' %}

{% comment %} {% include 'component/donate_component.html' %} {% endcomment %}
{% include 'component/our-works.html' %}


{% include 'component/partners-with-us.html' %}

{% include 'component/contact-us.html' %}

{% include 'component/blog-carousel.html' %}


{% include 'shared/footer.html' %}

{% endblock %}


<style>
 
    
</style>

