{% include 'shared/base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid bg d-flex justify-content-center">
    <h1 class="text-white fs-2 fw-bold text-center ">Partnership</h1>
</div>

<div class="container text-center my-5">
    <h3 class="fw-bold my-5">Reasons Why You Should Partner With Us</h3>
    <span class="my-5 text-justify">
        Partnering with the Learners Girls Foundation, an NGO dedicated to girl child education, can bring numerous benefits and
        make a significant impact. Here are compelling reasons for organizations or individuals to consider partnering with your
        foundation:
    </span>
</div>

<div class="container my-5">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-4 text-center">
            <img src="{% static 'img/F1.png' %}" alt="Image 1" class="img-fluid">
            <h5 class="fw-bold">Problem statement</h5>
            <p>Within our community, a pressing concern emerges as a result of limited access to education for children.
                This challenge is rooted in barriers such as inadequate infrastructure, lack of qualified teachers, and
                limited learning resources.</p>
        </div>

        <!-- Second Column -->
        <div class="col-md-4 text-center">
            <img src="{% static 'img/f2.png' %}" alt="Image 2" class="img-fluid">
            <h5 class="fw-bold">Problem statement</h5>
            <p>Within our community, a pressing concern emerges as a result of limited access to education for children.
                This challenge is rooted in barriers such as inadequate infrastructure, lack of qualified teachers, and
                limited learning resources.</p>
        </div>

        <!-- Third Column -->
        <div class="col-md-4 text-center">
            <img src="{% static 'img/f3.png' %}" alt="Image 3" class="img-fluid">
            <h5 class="fw-bold">Problem statement</h5>
            <p>Within our community, a pressing concern emerges as a result of limited access to education for children.
                This challenge is rooted in barriers such as inadequate infrastructure, lack of qualified teachers, and
                limited learning resources.</p>
        </div>
    </div>
</div>


<div class="container-fluid my-5 myContainer d-flex flex-column justify-content-center align-items-center">
    <h4 class="fw-bold text-success mt-5">BECOME A LGF PARTNER</h4>
   <div class="container mx-auto text-center">
    <span>
        Partnering with the Learners Girls Foundation, an NGO dedicated to girl child education, can bring numerous benefits
        and
        make a significant impact. Here are compelling reasons for organizations or individuals to consider partnering with
        your
        foundation:
    </span>
   </div>
<a href="{% url 'home:partnerForm' %}" class="btn btn-warning my-5 text-white fw-bold">Get in Touch</a>
</div>

<!-- our partners -->
<div class="container-fluid mt-5 text-center">
    <h3 class="fw-bold">Our Partners</h3>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor1.jpg" class="card-img-top" alt="Sponsor 1">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 1</h5>
                        <p class="card-text">Description of Sponsor 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor2.jpg" class="card-img-top" alt="Sponsor 2">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 2</h5>
                        <p class="card-text">Description of Sponsor 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor3.jpg" class="card-img-top" alt="Sponsor 3">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 3</h5>
                        <p class="card-text">Description of Sponsor 3.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor4.jpg" class="card-img-top" alt="Sponsor 4">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 4</h5>
                        <p class="card-text">Description of Sponsor 4.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor5.jpg" class="card-img-top" alt="Sponsor 5">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 5</h5>
                        <p class="card-text">Description of Sponsor 5.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor6.jpg" class="card-img-top" alt="Sponsor 6">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 6</h5>
                        <p class="card-text">Description of Sponsor 6.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- our partners -->
<div class="container-fluid mt-5 text-center">
    <h3 class="fw-bold">collaborators Partners</h3>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor1.jpg" class="card-img-top" alt="Sponsor 1">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 1</h5>
                        <p class="card-text">Description of Sponsor 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor2.jpg" class="card-img-top" alt="Sponsor 2">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 2</h5>
                        <p class="card-text">Description of Sponsor 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor3.jpg" class="card-img-top" alt="Sponsor 3">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 3</h5>
                        <p class="card-text">Description of Sponsor 3.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor4.jpg" class="card-img-top" alt="Sponsor 4">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 4</h5>
                        <p class="card-text">Description of Sponsor 4.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor5.jpg" class="card-img-top" alt="Sponsor 5">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 5</h5>
                        <p class="card-text">Description of Sponsor 5.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor6.jpg" class="card-img-top" alt="Sponsor 6">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 6</h5>
                        <p class="card-text">Description of Sponsor 6.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% include 'shared/footer.html' %}

{% endblock %}


<style>
    .bg{
        background-image: url("{% static 'img/Do.png' %}");
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .myContainer{
        background-color: #F1F1F1;
    }
    .text-span{
        line-height: 48px;
    }
</style>

