{% include 'shared/base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid bg d-flex justify-content-center align-items-end">
    <h1 class="text-white fs-2 fw-bold text-center ">Partnership</h1>
</div>

<div class="container text-center my-5">
    <h3 class="fw-bold my-2">PARTNERSHIPS AND COLLOBORATIONS</h3>
    <span class="text-justify">
    The organization won the AFRICAN PUBLISHING INNOVATION FUND in 2021, an initiative of the international publishers’
    association with which a project dubbed ‘Girl Child Education and Empowerment Through Mentorship and E-Learning
    Initiative’ was executed for the marginalized in Paga through the construction of a library stocked with 2000+ books
    including locally published content . Also, there is an E-learning component for a digitally accessed Mentorship
    Program. The lives of about 500 young girls have been impacted with our STEM mentorship support initiative which has
    contributed to most of these girls enrolling in STEM programs in the universities. The Learner Guide Initiative; The
    APIF grant has also helped promote literacy through our learner guide initiative in five schools and two educational
    empowerment camps to facilitate reading and writing.
    </span>
</div>

<div class="container my-5">
    <div class="row">
        <!-- First Column -->
        <div class="col-md-4 text-center">
            <img src="{% static 'img/F1.png' %}" alt="Image 1" class="img-fluid">
            <h5 class="fw-bold">Problem statement</h5>
            <p>Within our community, a pressing concern emerges as a result of limited access to education for children.
                This challenge is rooted in barriers such as inadequate infrastructure, lack of qualified teachers, and
                limited learning resources.</p>
        </div>

        <!-- Second Column -->
        <div class="col-md-4 text-center">
            <img src="{% static 'img/f2.png' %}" alt="Image 2" class="img-fluid">
            <h5 class="fw-bold">Problem statement</h5>
            <p>Within our community, a pressing concern emerges as a result of limited access to education for children.
                This challenge is rooted in barriers such as inadequate infrastructure, lack of qualified teachers, and
                limited learning resources.</p>
        </div>

        <!-- Third Column -->
        <div class="col-md-4 text-center">
            <img src="{% static 'img/f3.png' %}" alt="Image 3" class="img-fluid">
            <h5 class="fw-bold">Problem statement</h5>
            <p>Within our community, a pressing concern emerges as a result of limited access to education for children.
                This challenge is rooted in barriers such as inadequate infrastructure, lack of qualified teachers, and
                limited learning resources.</p>
        </div>
    </div>
</div>

<div class="container text-center my-5">
    <h3 class="fw-bold my-2">CONTINUOUS PARTNERSHIPS</h3>
    <span class="text-justify">
        The organization is currently working in partnership with the District Level Partnership in the Ghana Education Service.
        Also, organizations such as BOOKAID INTERNATIONAL has pledged support with book donations for our literacy programs
        annually, EKITABU KENYA will provide accessible educational content for our E-learning initiative, SUB-SAHARAN of
        reading books for our programs educationally marginalized communities. The organization has created a working
        partnership with local key stakeholders such as the GHANA EDUCATION SERVICE, GIRLS EMPOWERMENT MISSION GHANA and CAMFED
        ASSOCIATION DISTRICT LEVEL NETWORK
    </span>
</div>

<div class="container-fluid my-5 myContainer d-flex flex-column justify-content-center align-items-center">
    <h4 class="fw-bold text-success mt-5">BECOME A LGF PARTNER</h4>
   <div class="container mx-auto text-center">
    <span>
        Partnering with the Learners Girls Foundation, an NGO dedicated to girl child education, can bring numerous benefits
        and
        make a significant impact. Here are compelling reasons for organizations or individuals to consider partnering with
        your
        foundation:
    </span>
   </div>
<a href="{% url 'home:partnerForm' %}" class="btn btn-warning my-5 text-white fw-bold">Get in Touch</a>
</div>

<!-- our partners -->
<div class="container-fluid mt-5 text-center">
    <h3 class="fw-bold">Our Partners</h3>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor1.jpg" class="card-img-top" alt="Sponsor 1">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 1</h5>
                        <p class="card-text">Description of Sponsor 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor2.jpg" class="card-img-top" alt="Sponsor 2">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 2</h5>
                        <p class="card-text">Description of Sponsor 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor3.jpg" class="card-img-top" alt="Sponsor 3">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 3</h5>
                        <p class="card-text">Description of Sponsor 3.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor4.jpg" class="card-img-top" alt="Sponsor 4">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 4</h5>
                        <p class="card-text">Description of Sponsor 4.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor5.jpg" class="card-img-top" alt="Sponsor 5">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 5</h5>
                        <p class="card-text">Description of Sponsor 5.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor6.jpg" class="card-img-top" alt="Sponsor 6">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 6</h5>
                        <p class="card-text">Description of Sponsor 6.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- our partners -->
<div class="container-fluid mt-5 text-center">
    <h3 class="fw-bold">collaborators Partners</h3>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor1.jpg" class="card-img-top" alt="Sponsor 1">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 1</h5>
                        <p class="card-text">Description of Sponsor 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor2.jpg" class="card-img-top" alt="Sponsor 2">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 2</h5>
                        <p class="card-text">Description of Sponsor 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor3.jpg" class="card-img-top" alt="Sponsor 3">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 3</h5>
                        <p class="card-text">Description of Sponsor 3.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor4.jpg" class="card-img-top" alt="Sponsor 4">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 4</h5>
                        <p class="card-text">Description of Sponsor 4.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor5.jpg" class="card-img-top" alt="Sponsor 5">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 5</h5>
                        <p class="card-text">Description of Sponsor 5.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <img src="sponsor6.jpg" class="card-img-top" alt="Sponsor 6">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor 6</h5>
                        <p class="card-text">Description of Sponsor 6.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% include 'shared/footer.html' %}

{% endblock %}


<style>
    .bg{
        background-image: url("{% static 'img/WhatsApp Image 2023-09-23 at 6.52.24 AM (4).jpeg' %}");
        height: 60vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .myContainer{
        background-color: #F1F1F1;
    }
    .text-span{
        line-height: 48px;
    }
</style>

