{% load static %}
<div class="container-fluid bg-black text-white py-5">
  <div class="container-fluid">
    <div class="row my-5">
      <!-- Address Section -->
      <div class="col-md-3">
        <h5>Address</h5>
        <ul class="list-unstyled">
          <li class="text-grey text-decoration-none">123 Street, City</li>
          <li class="text-grey text-decoration-none">Country</li>
          <li class="text-grey text-decoration-none">Email: contact@example.com</li>
          <li class="text-grey text-decoration-none">Phone: +123456789</li>
        </ul>
      </div>
      <!-- About Section -->
      <div class="col-md-3">
        <h5>About</h5>
        <ul class="list-unstyled">
          <li><a class="text-grey text-decoration-none" href="#">Our Mission</a></li>
          <li><a class="text-grey text-decoration-none" href="#">Our Team</a></li>
          <li><a class="text-grey text-decoration-none" href="#">Testimonials</a></li>
        </ul>
      </div>
      <!-- Our Projects Section -->
      <div class="col-md-3">
        <h5>Our Projects</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-grey text-decoration-none">Library</a></li>
          <li><a href="#" class="text-grey text-decoration-none">Book Talk</a></li>
          <li><a href="#" class="text-grey text-decoration-none">Digital Inclusive program</a></li>
        </ul>
      </div>

      <!-- Join Us Section -->
      <div class="col-md-3">
        <h5>Join Us</h5>
        <ul class="list-unstyled">
          <li><a class="text-grey text-decoration-none" href="#">Partnership</a></li>
          <li><a class="text-grey text-decoration-none" href="#">Fundraise</a></li>
          <li><a class="text-grey text-decoration-none" href="{% url 'home:donate' %}">Donation</a></li>
          <li><a class="text-grey text-decoration-none" href="#">Volunteer</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="container-fluid py-3" style="background: #505050;">
  <div class="container d-flex justify-content-between align-items-center text-white">
    <span>Copyright © 2023 Learner Girls Foundation. All rights reserved.</span>
    <!-- Social Media Icons -->
    <div>
      <a href="#" class="text-white"><i class="fa fa-facebook mx-1"></i></a>
      <a href="#" class="text-white"><i class="fa fa-linkedin  mx-1"></i></a>
      <a href="#" class="text-white"><i class="fa fa-instagram mx-1"></i></a>
    </div>
  </div>
</div>



<style>
  .text-grey {
    color: grey !important;
    font-size: 12px !important;
  }


</style>
</style>