{% load static %}

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg sticky-top top-0 shadow bg-white zindex-100">
  <div class="container">
    <!-- Button Toggle for Small Devices -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="circular-logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top rounded-circle">
    </a>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Join Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      </ul>
      <!-- Donate Button (Visible on Small Devices) -->
      <a class="btn btn-outline-warning my-2 my-lg-0 d-block d-lg-none fw-bold" type="button" href="{% url 'home:donate' %}">Donate</a>
    </div>

    <!-- Donate Button (Visible on Medium and Large Devices) -->
    <a class="btn btn-outline-warning my-2 my-lg-0 d-none d-lg-block fw-bold" type="button" href="{% url 'home:donate' %}">Donate</a>
  </div>
</nav>
  
</style>

