{% load static %}

<!-- Navigation Bar -->


        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                 <a class="navbar-brand" href="/">
                 <img src="{% static 'img/logo.png' %}" alt="Learners Girls Foundation" class="d-inline-block align-top rounded-circle">
                
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="{% url 'home:about' %}" class="nav-item nav-link">About</a>
                        <a href="{% url 'home:blog' %}" class="nav-item nav-link">Blog</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Join Us</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">volunteer</a>
                                <a href="#" class="dropdown-item">What We Do</a>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->   