{% load static %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="mb-3">Latest Blog Posts</h2>
      </div>
    </div>
    <!-- Blog Carousel -->
    <div class="row my-4">
      <div class="col-md-12">
        <div id="blogCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <!-- Blog Post Cards -->
                <div class="col-md-3">
                  <div class="card">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Blog Image 1">
                    <div class="card-body">
                      <h5 class="card-title">Blog Post 1</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                </div>
                <!-- Repeat for other blog post cards -->
                <div class="col-md-3">
                  <div class="card">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Blog Image 2">
                    <div class="card-body">
                      <h5 class="card-title">Blog Post 2</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                      <img src="https://via.placeholder.com/150" class="card-img-top" alt="Blog Image 2">
                      <div class="card-body">
                        <h5 class="card-title">Blog Post 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card">
                      <img src="https://via.placeholder.com/150" class="card-img-top" alt="Blog Image 2">
                      <div class="card-body">
                        <h5 class="card-title">Blog Post 2</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                    </div>
                  </div>
                <!-- Repeat for more blog post cards -->
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>