{% load static %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="p-4">
                <h2 class="mb-2">Contact Us</h2>
                <h6 class="text-muted mb-3">We would love to hear from you.</h6>

                <!-- Contact Form -->
                <form method="post" action="{% url 'home:about' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control my-3" id="fullName" name="full_name" placeholder="Full Name" required>
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control my-3" id="phone" name="phone" placeholder="Phone Number" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control my-3" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control my-3" id="message" name="message" rows="4" placeholder="Message"></textarea>
                    </div>
                    <div class="d-grid gap-2 d-md-block my-2">
                        <button name="contact_us_form" class="btn btn-success" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
