{% load static %}

<div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-light p-4">
          <h2 class="mb-3">Brief History</h2>
          <p>
      In 2020, amidst the COVID-19 pandemic, the closure of schools stalled the education of many. This was a major drawback
      for children in marginalized communities since they lacked the resources for online learning.
      The President of LFG,Kumuriwor Alira Bushiratu who was still a student at the University for Development studies started
      teaching the children in her community to make up for their inability to participate in online classes relative to
      children in developed cities. With the help of some of her colleagues, this activity birthed the Learner Girls’
      Foundation.
      Fast forward, we observed that most children, especially girls in underdeveloped areas did not have access to quality
      education due to financial constraint in accessing educational logistics and technologies for learning. Therefore, at
      LGF our focus is on children, the marginalized communities and female empowerment.
      With its home-base in the Upper East Region of Ghana, The Learners Girls Foundation created massive impact through the
      construction of the first library and E-learning space for community of Paga. This helped improve reading and the
      studies of students through the provision of resources, Volunteer Teaching, Learner Guide Programs in Schools,
      Mentorship Programs, E-Library Programs, Annual Literacy Development Boot-Camps with our Girls Empowerment Programs,
      Capacity Building Summits and Stem Girls Initiative.
      After three years of operation the organization has seven diversified Board of Directors with the founder who serves as
      Executive Director. The board also defines policies and expected program outcomes and monitor effectiveness as well as
      participate actively in the activities of the organization. We also have a Finance Officer, Project Manager and
      Volunteer Administrator, Web-Social Media Assistant responsible for social media advocacy and other communications as
      well as an E-library initiative control.
        </p>
        </div>
      </div>
    </div>
  </div>





