{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
                    <h3 class="fw-bold my-5">LEARNERS GIRLS’ FOUNDATION (LGF)</h3>
                <div class="card-body">
                    <p>
                        Learners Girls’ Foundation (LGF) is a registered Limited by Guarantee LBG grassroot non-profit organization striving to
                        ensure that every child, regardless of the geographic location, has the opportunity to acquire literacy skills, access
                        to books, digital skills, social justice and youth empowerment to reach their full potential to succeed at school and
                        beyond. LGF has a fundamental duty to educate, inspire and provide skills training to young people, especially girls in
                        underprivileged communities, to enhance literacy and social justice and maximize their potential in every sphere of
                        life. The LGF focuses on children, marginalized communities and girls’ empowerment .
                        LGF was founded by a young woman, Kumuriwor Alira Bushiratu, in the Upper East Region of Ghana in 2020 (in the thick of
                        the COVID Pandemic). The effects of the closure of schools as part of the anti-COVID measures, led to the formation of
                        LGF with a team of likeminded persons who are passionate about children education, girl-child empowerment and community
                        development. Learners Girls Foundation has impacted lives through the construction of a library and e-learning space for
                        Paga community, helped improve learning outcomes, and promoted reading through volunteer teaching, learner-guide
                        programs in schools, mentorship programs, e-library programs, annual literacy development bootcamps with our girls’
                        empowerment programs; capacity building summits and STEM Girls initiative.
                        LGF has seven directors on its board, with our founder who serves as Executive Director. The board defines policies and
                        provides strategic direction to LGF. LGF staff include a Finance Officer, Project coordinator, administrative officer
                        Monitoring and Evaluation Officer, Gender Empowerment and Social Inclusion Officer and with a Volunteer Network of fifty
                        (50) membership
                    </p>

                </div>
        </div>
    </div>
</div>