{% load static %}


<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'img/LGF-125.jpg' %}" alt="Organization Image" class="img-fluid">
        </div>
        <div class="col-md-12 my-3">
            <h4 class="fw-bold text-center">Our Mission</h4>
            <p>
                Ensuring that every individual in deprived communities has the opportunity to access quality education
                and training to reach full potential and reduce social vices.
            </p>

            <h4 class="fw-bold text-center">ORGANIZATIONAL HISTORY</h4>
            <p>
                After three years of operation, the organization has seven diversified Board of Directors with the
                founder who serves as
                Executive Director. The board also defines policies and expected program outcomes and monitors
                effectiveness as well as
                participates actively in the activities of the organization. We also have a Finance Officer, Project
                coordinator,
                administrative officer, Monitoring and Evaluation Officer, Gender Empowerment and Social Inclusion
                Officer, and a
                Volunteer Network of fifty (50) membership.
            </p>
        </div>
    </div>
</div>