{% load static %}

<div class="container my-5">
    <div class="row">
      <!-- First Column -->
      <div class="col-md-4 text-center">
        <img src="{% static 'img/icon_1.png' %}" alt="Image 1" class="img-fluid">
        <h5 class="fw-bold">Problem statement</h5>
        <p>Within our community, a pressing concern emerges as a result of limited access to education for children. This challenge is rooted in barriers such as inadequate infrastructure, lack of qualified teachers, and limited learning resources.</p>
      </div>
      
      <!-- Second Column -->
      <div class="col-md-4 text-center">
        <img src="{% static 'img/icon_2.png' %}" alt="Image 2" class="img-fluid">
        <h5 class="fw-bold">Problem statement</h5>
        <p>Within our community, a pressing concern emerges as a result of limited access to education for children. This challenge is rooted in barriers such as inadequate infrastructure, lack of qualified teachers, and limited learning resources.</p>
      </div>
      
      <!-- Third Column -->
      <div class="col-md-4 text-center">
        <img src="{% static 'img/mission.png' %}" alt="Image 3" class="img-fluid">
        <h5 class="fw-bold">Problem statement</h5>
        <p>Within our community, a pressing concern emerges as a result of limited access to education for children. This challenge is rooted in barriers such as inadequate infrastructure, lack of qualified teachers, and limited learning resources.</p>
      </div>
    </div>
  </div>






