{% load static %}

<div class="container my-5">
    <div class="row">
      <!-- First Column -->
      <div class="col-md-4 text-center">
        <img src="{% static 'img/icon_1.png' %}" alt="Image 1" class="img-fluid">
        <h5 class="fw-bold">VISION</h5>
        <p>
          LGF’s vision is to spearhead the growth of literacy, access to books, gender equality and social justice in communities in  Ghana through dynamic, innovative and practical development programs.
        </p>
      </div>
      
      <!-- Second Column -->
      <div class="col-md-4 text-center">
        <img src="{% static 'img/icon_2.png' %}" alt="Image 2" class="img-fluid">
        <h5 class="fw-bold">CORE VALUES</h5>
        <p> Accountability     Integrity        Innovation     Partnership</p>
      </div>
      
      <!-- Third Column -->
      <div class="col-md-4 text-center">
        <img src="{% static 'img/mission.png' %}" alt="Image 3" class="img-fluid">
        <h5 class="fw-bold">CORE BELIEFS</h5>
        <p>Community gives back, Equality, Education, Skills Training, Social Justice</p>
      </div>
    </div>
  </div>






